:root {
    --color-text: #757575;
    --black-text: #000;
    --light-black-text: #212121;
    --color-focus: #2196f3;
    --white-text: #ffffff;
    --secondary-white: rgba(255, 255, 255, 0.6);
    --primary-backgrounds: #ffffff;
    --secondary-backgrounds: #f5f4fa;
    --footer: #2f303a;
  }
  body {
    padding-top: 80px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--color-text);
  }
  ul {
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0%;
    padding: 0%;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .container {
    /* outline: 2px solid yellow; */
  
    width: 1200px;
  
    padding-right: 15px;
    padding-left: 15px;
  
    margin-right: auto;
    margin-left: auto;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.2);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 528px;
    height: 581px;
  
    background-color: #fff;
  }
  
  /* LOGO Header*/
  
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
  
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
    background-color: var(--primary-backgrounds);
  }
  .header div {
    display: flex;
    align-items: center;
  }
  .logo-header {
    margin-right: 93px;
  
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--black-text);
  }
  .accent-logo {
    color: var(--color-focus);
  }
  .header-logo {
    color: var(--black-text);
  }
  .footer-logo {
    color: var(--white-text);
  }
  
  /* site nav */
  
  .all-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
  }
  .li-sitenav {
    position: relative;
  }
  .site-nav li:not(:last-child) {
    margin-right: 50px;
  }
  /* .site-nav li {
    margin-right: 50px;
  }
  .site-nav li:last-child {
    margin-right: 0;
  } */
  
  .site-nav a {
    /* padding-top: 32px;
    padding-bottom: 32px; */
    display: block;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--light-black-text);
  }
  .site-nav a:hover,
  .site-nav a:focus {
    color: var(--color-focus);
  }
  .site-nav .current {
    color: var(--color-focus);
  }
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--color-focus);
    border-radius: 2px;
  }
  
  /* Contact nav */
  
  .contact-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
  }
  
  .contact-nav .li-c-n + .li-c-n {
    margin-left: 50px;
  }
  /* .contact-nav li:not(:last-child) {
    margin-right: 50px;
  } */
  
  .contact-nav a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text);
  }
  .contact-nav a:hover,
  .contact-nav a:focus {
    color: var(--color-focus);
  }
  
  .link-c-n {
    display: flex;
    align-items: center;
    color: var(--color-text);
  }
  .icon-c-n {
    margin-right: 10px;
  
    fill: currentColor;
  }