.header__container {
    display: flex;
    align-items: center;
  }
  
  .header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--decore-gray-color);
  }
  
  .header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .header .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition);
  }
  
  .header__container .navigation-list__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-contact .header-contact__item:not(:last-child) {
    margin-right: 50px;
  }
  
  
  
  .header__container .link:hover,
  .header__container .link:focus,
  .current {
    color: var(--accent-color);
  }
  