.logo {
    text-decoration: none;
    font-family: Raleway;
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  .header .logo {
    margin-right: 93px;
  }
  
  .logo__logotitle--black {
    color: #000000;
  }
  
  .footer-logotitle--white {
    color: #ffffff
  }
  