.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
  }
  
  .social-icon-svg {
    fill: currentColor;
  }
  
  .social-link:hover,
  .social-link:focus {
    background-color: #188ce8;
    color: #ffffff;
    transition: background-color var(--transition), color var(--transition);
  }